<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.elearning.tm.android.client" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name=".app.TMApplication"  android:windowSoftInputMode="adjustResize|stateHidden" android:debuggable="true">
		<activity android:name=".view.FrameActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!--欢迎界面StartPage-->
		<activity android:name=".StartPage"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!--整体框架-->
		<activity android:name=".view.LoginActivity"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!--任务列表-->
		<activity android:name=".view.TastListActivity"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!--	新增任务-->
		<activity android:name=".view.TaskAddActivity"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!--关于界面-->
		<activity android:name=".view.AboutActivity"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!--操作说明-->
		<activity android:name=".view.HelpActivity"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!--脱口秀界面-->
		<activity android:name=".view.SaySomeWordsActivity"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!--测试任务列表-->
		<activity android:name=".view.WorkListActivity"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!--测试任务列表2-->
		<activity android:name=".view.ExListView"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!--测试任务列表2-->
		<activity android:name=".view.TaskExListView"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
			<!--测试任务列表3-->
		<activity android:name=".view.SearchResultActivity"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

</manifest> 